<div class="section no-pad-bot parallax-container" id="index-banner">
    <div class="container">
    <br><br>
 	  <div class="parallax"><%=image_tag("wallpaper.jpg")%></div>
      <h1 class="header center orange-text">+ New Project</h1>
      <div class="row center">
        <h5 class="header col s12 teal-text text-lighten-5">Tu equipo de trabajo a un click de distancia</h5>
      </div>
      <div class="row center">
        <%=link_to "Explorar", projects_path , class:"btn-large waves-effect waves-light orange"%>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4 z-depth-4">
          <div class="card">
	          <div class="icon-block">
	            <h2 class="center light-blue-text"><i class="large  material-icons">flash_on</i></h2>
	            <h5 class="center">¿Que es new project?</h5>
		          <div class="card-content">
	            	<p>New project es una iniciativa para facilitar la colaboracion de equipos de trabajo online y unir a la comunidad a traves de proyectos con causa.</p>
	            </div>
	            <div class="card-action">
	              <a href="#">Ver mas...</a>
	            </div>
	          </div>
	        </div>
        </div>

        <div class="col s12 m4 z-depth-4">
          <div class="card">
	          <div class="icon-block">
	            <h2 class="center light-blue-text"><i class="large material-icons">group</i></h2>
	            <h5 class="center">Metas</h5>
		        <div class="card-content">
	            	<ul>
                  <li>unir a la comunidad</li>
                  <li>Generar proyectos utiles para la humanidad</li>  
                  <li>Optimizar los procesos organizacionales de los proyectos</li>  
                  <li>Proporcionar una metodologia de trabajo eficiente</li>  
                </ul>
	            </div>
	            <div class="card-action">
	              <a href="#">Ver mas...</a>
	            </div>
	          </div>
	        </div>
        </div>
        <div class="col s12 m4 z-depth-4">
          <div class="card">
	          <div class="icon-block">
	            <h2 class="center light-blue-text"><i class="large material-icons">settings</i></h2>
	            <h5 class="center">Desarrolladores </h5>
		        <div class="card-content">
	            	<ul>
                  <li>Luis Enrique Sauceda Herrera</li>
                  <li>Cynthia Stephany Rivera Bacelis</li>  
                  <li>Martha Valeria Valdez Dominguez</li>  
                  <li>Juan Carlos Ruiz Salazar</li>  
                </ul>
	            </div>
	            <div class="card-action">
	              <a href="#">Ver mas...</a>
	            </div>
	          </div>
	        </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Este es un proyecto de uso libre</h5>
          <p class="grey-text text-lighten-4">Para mas informacion consulte los terminos y condici/html/evidencias.htmlneEvidencias</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
